sphinx
sphinx-autobuild
Jinja2<3.1.0
numpydoc
pyyaml
xarray
cftime
xskillscore
matplotlib
pydata-sphinx-theme
nbsphinx
sphinx-autoapi
sphinxcontrib-bibtex
sphinx_copybutton
sphinx-panels
pandoc
IPython
